@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
} 
*/

:root{
  --one: #7161EF;
  --two: #957FEF;
  --three: #B79CED;
  --four: #DEC0F1;
  --five: #EFD9CE;
}

#header{
  background: linear-gradient(to right, var(--one), var(--five));
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin:0;
}

a{
  text-decoration: none;
}

*>*{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-room{
  width: 100%;
  margin-left: 10%
}

.text-light{
  color: var(--five)
}
.text-secondary{
  color: var(--four)
}
.text-middle{
  color: var(--three)
}
.text-main{
  color: var(--two)
}
.text-dark{
  color: var(--one)
}

.text-title{
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.secondary-title{
  font-family: "Space Mono", monospace;
}

/* image slides */

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 2rem auto 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: .75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-logo{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  align-self: center;
  font-size: 32px;
}
.navbar-nav{
  align-self: center;
  color: var(--one);
  font-family: "Space Mono", monospace;
  font-weight: 600;
  text-decoration: none;
}
a:active{
  color: inherit;
}
.navbar-nav a{
  align-self: center;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  text-decoration: none;
}
.navbar-nav a:hover{
  align-self: center;
  color: var(--five);
  font-family: "Space Mono", monospace;
  font-weight: 600;
  text-decoration: none;
}

.collapse{
  align-self: center;
  color: var(--three);
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.nav-link{
  font-size: 18px;
  margin: 12px;
  color: var(--one)
}

.nav-link:hover{
  color: black
}

.search-box{
  display: inline;
  border-right: 1px solid var(--one);
}

.header{
  background-color: var(--two);

}

/* Button pressdown animation */
button {
  transition: transform 0.1s ease;
}

button:active {
  transform: scale(0.95);
}

/* Hyperlink pressdown animation */
a {
  transition: transform 0.1s ease;
  display: inline-block; /* Required for transform to work */
}

a:active {
  transform: scale(0.95);
}